/**
 * .module.css 接尾辞が付いた CSS ファイルは CSS モジュールとして扱われます
 * そしてローカルにスコープを設定します。
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
